@import './mixins.scss';
@import './searchBar.scss';
@import './recentPosts.scss';
@import './post.scss';
@import './home.scss';
@import './results.scss';

body {
  font-family: 'Lato', sans-serif;
}

.app-wrapper {
  display: grid;
  justify-content: center;
}


.logo-main,
.recent-posts {
  display: grid;
  justify-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.no-post-links {
  color: $gray-color;
  font-size: 14px;
  line-height: 17px;
}

